*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    height: 70px;
    width: auto;
    background-image: linear-gradient(160deg,#fff,#3464B0,#fff);  
      border-bottom: 1px solid rgba(0,0,0,.1);
}
.btn-group{
    position: absolute;
    left: 88%;
    top: 2%;
}
.name-school{
    font-size: 40px;
    font-weight: 700;
    color: #3464B0;
}
.table-left{
    background-image: linear-gradient(105deg,#fff,#3464B0);
        height: 684px;
}

.nav-link{
        font-weight: 500;
        font-size: 16px;
}
.btn_active{
    position: absolute;
    top: 3%;
    left: 70%;
}

.btn_active button i{
    margin-left: 5px;
}
.modal-content{
    height: 440px;
    width: 675px;
}
.modal-body label{
    margin-top: 10px;
    margin-left:70px;
    font-size: 25px;
    color: #006EB6;
    font-weight: 700;
}
.body_update label{
    margin-top: 10px;
    margin-left:100px;
    font-size: 25px;
    color: #048207;
    font-weight: 700;
}
.modal-body input{
    padding: 5px 40px;
    height: 30px;
    border: solid 2px #cbc9c9;
}
.body_update input{
    margin-left: 20px;
    border: solid 2px #00C305;
    border-radius: 15px;    
    padding: 5px 40px;
}
.modal-body .ip1 {
    margin-left: 58px;
}
.modal-body .ip2 {
    margin-left: 58px;
}
.modal-body .ip3 {
    margin-left: 59px;
}
.modal-body .ip4 {
    margin-left: 110px;
}
.modal-body .ip5{
    margin-left: 60px; 
}
.modal-body{
    /* background-image :linear-gradient(90deg,#fff ,dodgerblue 60%,#fff  ); */
    border-top: 1px solid #939ca5;
    border-bottom: 1px solid #939ca5;
}
.btn_list{
    padding: 3px 15px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 500;
}
.btndelete{
    background-image: linear-gradient(135deg,#F30B31,#90081E);
}
.btnupdate{
    background-image: linear-gradient(135deg,#9902FB,#61039E);
}
.body_excel{
    background-image: linear-gradient(180deg,#fff,#0ADF05,#fff);
}
#file_name{
    position: absolute;
    top: 40%;
    left: 10%;
}
.body_excel input{
    margin-left: 20px;
    border: solid 2px #fff;
    border-radius: 15px;
    padding: 5px 40px;
    height: 45px;
}
.content_excel{
    width: 500px;
    height: 300px;
}
table{
    font-family: sans-serif;
}
.sinh_vien_text{
    text-decoration: none;
    font-weight: 500;
}
.sinh_vien_text:hover{
    text-decoration: none;
}
.logo_text:hover{
    text-decoration: none;
}
.nt1{
    margin-left: 10px;
}
.nt2{
    margin-left: 12px;
}
th span{
    font-weight: bold;
}


.modal-dialog .modal-content{
    border-radius: 30px;
    border: solid 1px #cbc9c9;
    background-color: #ebebeb;
}
a{
    color:#3464B0
}

.display_inline{
    display: inline;
  }
  .icon_main {
    position: relative;
    bottom: 8px;
  }
  .name-active{
   font-weight: 500;
  }
  .container-fluid{
      padding-left: 0px;
  }
  .treeview{
      margin-top: 20px;
      font-size: 17px;
  }
  .btn-primary.dropdown-toggle{
    background-color: #3464B0 !important;
  }
  .nav-item{
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .bg-light{
    background-image: linear-gradient(105deg,#fff,#3464B0);
  }
  .btn-primary{
    background-color: #3464B0 !important;
  }
  .btn-success{
    background-color:#0f793a !important;
  }    
  
